@keyframes global-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes global-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes global-scale-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
